* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;#FBECE3  /*------------------- fundo = creme	E5DED2 ---------------------------*/
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FBECE3	;   /*------------------- fundo = creme	 ---------------------------*/
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #272727;
    color: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px #A020F0;
}
section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0;
}
section #container-apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 500px;
}
#container-apresentação-imagens {
    width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
}
.slide {
    width: 100%;
    height: 100%;
}
.slideImgArea {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    transition: 0.5s;
}
.slideImgArea1 {
    width: 1;
    background-image: url(../images/Adrian1.jpg);
}
.slideImgArea2 {
    width: 0;
    background-image: url(../images/Adrian2.jpg);
}
.slideImgArea3 {
    width: 0;
    background-image: url(../images/Adrian3.jpg);
}
#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid #424242;
}
/*----------------------------------FUNDO DOS TÓPICOS-------------------------------------------------------------*/
#container-info-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #E7B9B4		;   /*------------------- cor hibisco ---------------------------*/
    margin: 5px 5px;
    width: 320px;
    height: 410px;
}
/*----------------QUADRADOS COM AS INFORMAÇÕES DENTRO DOS TOPICOS-----------------------------------------------------------------------------------*/
.info-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 60px;
    border-radius: 5px;
    margin: 10px 0;
    color: #FFFFFF;
    background-color: #E7B9B4;   /*------------------- cor hibisco ---------------------------*/
}
.info-geral-tittle {
    border-bottom: 1px solid #2C2C2C; /*------------------- cor preta ---------------------------*/
    font-size: 1.2rem;
    padding: 5px;
    width: 95%;
    text-align: center;
}
.tittle-sorteio .info-geral-tittle, .title-premio .info-geral-tittle {
    border-bottom: 1px solid #2C2C2C;  /*------------------- cor preta ---------------------------*/
    padding: 5px 0;
}
.info-geral-conteudo {
    padding: 2px;
    margin: 2px 0;
    width: 95%;
    text-align: justify;
    font-size: 0.9rem;
    line-height: 20px;
}
.info-geral-conteudo a {
    color: #121211;
}
.info-geral-conteudo a:hover {
    color: #121211;
}
.info-geral-conteudo span {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}
section #container-info-number-geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #E7B9B4;
}
#container-info-number {
    border-top: 1px solid #E7B9B4;
    border-bottom: 1px solid #E7B9B4; 
    margin-bottom: 10px;
    padding: 5px 0;
}
#info-number-tittle {
    font-size: 1.3rem;
    color: #FFFFFF;
    width: auto;
    padding: 5px;
    cursor:context-menu;
}
#info-number-qnt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.number-qnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    padding: 8px 5px;
    margin: 3px 3px;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #087E8B;
    cursor:context-menu;
}
.qnumber {
    background-color: #2C2C2C; /*-------------------------------- cor preta --------------------------------------*/
    padding: 3px 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    margin-left: 5px;
    color: #FFFFFF;
}
.ndisponiveis {
    background-color: #C2DACE; /* STATUS DISPONIVEL*/
}
.nreservados {
    color: #ffffff;
    background-color: #087E8B; /* STATUS RESERVADO*/
} 
.nreservados .qnumber {
    background-color: #087E8B; /* STATUS RESERVADO*/
}
#container-info-number{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
#container-numbers {
    width: 100%;
    height: auto;
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #E7B9B4;/*--------------painel de números--------*/
}
.button {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: none;
    background-color: #C2DACE; /*------------------- botões de números------------------*/
    color: #000000;
    font-size: 0.95rem;
    cursor: pointer;
}
.reservado {
    background-color: #087E8B;
    color: #FFFFFF;
}
.clicado {
    background-color: #087E8B;
    color: #FFFFFF;
}/*------------------------------------------------Até aqui OK--------------------------------------------*/
section #container-bilhete {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
}
#mostrar-bilhete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    width: 200px;
    height: 190px;
    border-radius: 20px;
}
#situacao {
    margin: 10px 0;
}
#telefone {
    margin: 10px 0;
    max-width: 17ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#participante {
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#button-ok {
    margin-top: 10px;
    width: 50px;
    height: 25px;
    font-size: 0.9rem;
    font-weight: bolder;
    cursor: pointer;
}
section #mostrar-carinho {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2C2C2C; /*------------------------------------------- cor preta ----------------------------*/
    color: #FFFFFF;
    width: 100%;
    height: 60px;
    position:fixed;
    bottom: 0;
    box-shadow: 0 0 2px #FFFFFF;
}
#quanto-custa, #prosseguir {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
#prosseguir {
    border-radius: 10px 10px 10px 10px;
    background-color: #087E8B; /* ------------------------------------------ verde escuro ----------------------------------------------------*/
    cursor: pointer;
}
#prosseguir:hover {
    background-color: #087E8B; /* ------------------------------------------ verde escuro ----------------------------------------------------*/
}
section #container-prosseguir {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

section #container-prosseguir #prosseguir-PIX {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 310px;
    padding: 15px;
    min-height: 480px;
    color: #FFFFFF;
    border-radius: 10px;
    position:fixed;
    margin: auto;
    font-size: 1.5rem;
    background-color: #2C2C2C; /*------------------------------------ cor preta --------------------------------------*/
    transition: all 0.5s;
}
  

#buttonVoltarReserva {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 30px;
    width: 120px;
    margin-top: 2px;
    border-radius: 5px;
    background-color:#2e68e9;
    cursor: pointer;
    font-size: 1rem;
}
#buttonVoltarReserva:hover {
    opacity: 0.8;
}
section #container-prosseguir #prosseguir-compra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 80%;
    padding: 15px;
    min-height: 300px;
    background-color: #2C2C2C; /*------------------------------------ cor preta --------------------------------------*/
    color: #FFFFFF;
    border-radius: 10px;
    position:fixed;
    margin: auto;
    font-size: 0.9rem;
    transition: all 0.5s;
}
#prosseguir-tittle {
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    color: #FFFFFF;
    border-bottom: 2px solid #424242;
}
#button-X {
    background-color: #424242;
    color: #acadae;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
#button-X:hover {
    opacity: 0.8;
}
#info-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.apertarX {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color:#087E8B;
    color: #2C2C2C;        /*------------------------------------ cor preta --------------------------------------*/
    cursor: pointer;
}
#dados-cliente {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-top: 2px solid #424242;
    margin-top: 10px;
}
#dados-cliente span {
    color: #acadae;
    font-size: 0.7rem;
    margin: 10px 0;
}
#dados-cliente span a {
    color:  #2e68e9;
    text-decoration: none;
}
#dados-cliente legend {
    margin: 5px 0;
}
.dados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #272727;
    color: #FFFFFF;
    margin: 2px 0;
}
.dados:hover{ 
    box-shadow: 0 0 1px #00509b;
}
#celular, #nome {
    height: inherit;
    width:inherit;
    background-color: #272727;
    color: #FFFFFF;
    font-weight: bolder;
    padding:0 5px;
    border:none;
    outline: 0;
    border-radius: 5px;
}
#celular:focus, #nome:focus {
    border:none;
}
.dados img {
    width: auto;
    height: 100%;
    padding: 4px;
}
#compra-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
#cancelar, #reservar, #mostrarPIX {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 70px;
    margin: 0 3px;
    border-radius: 5px;
    font-size: 0.95rem;
    cursor: pointer;
}
#cancelar:hover, #reservar:hover, #mostrarPIX:hover {
    opacity: 0.8;
}
#cancelar {
    background-color:#6c757d;
}
#reservar {
    background-color:#087E8B;
}
#mostrarPIX {
    background-color: #11c76f;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #272727;
    color: #FFFFFF;
    box-shadow: 0 0 20px #000000;
    font-size: 0.9rem;
}
footer div a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
}
footer div a:hover {
    color:#11c76f;
    transition: 0.5s;
}
#ref {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
}
#ref p {
    margin-right: 5px;
}
#banner--logos--footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#banner--logos--footer a img {
    width: 25px;
    height: auto;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    transition: 0.5s;
}
#banner--logos--footer a img:hover {
    width: 35px;
    transition: 0.5s;
}
@media (max-width:1045px) {
    #container-info-geral {
        width: 400px;
        height: 380px;
    }
}
@media (max-width:865px) {
    #container-info-geral {
        width: 280px;
        height: 380px;
    }
    .info-geral-tittle {
        font-size: 1rem;
    }
    .info-geral-conteudo span {
        font-size: 1rem;
    }
    .info-geral-conteudo {
        font-size: 0.9rem;
        line-height: 20px;
    }
}
@media (max-width:615px) {
    #container-info-geral {
        width: 340px;
        height: 360px;
    }
}
@media (max-width:430px) {
    header h1 {
        font-size: 1.7rem;
    }
    footer {
        font-size: 0.75rem;
    }
    #banner--logos--footer a img {
        width: 25px;

    }
    #banner--logos--footer a img:hover {
        width: 40px;

    }
}
